/*FOOTER STYLE*/
@charset "UTF-8";
#footer{position:relative;z-index:9;background-repeat:no-repeat;background-position:top center}
.footer-top{padding:0}
.footer-top .wrap_title{margin-bottom:30px}
.footer-top .section-subtitle{margin:0 0 15px;text-align:center;font-size:14px;color:var(--color-hover);text-transform:uppercase;font-weight:600}
.footer-top .section-title{color:#fff;margin:0;justify-content:center;align-items:center;display:flex;position:relative;text-align:center;font-size:24px;font-weight:600;text-transform:uppercase}
.footer-top .wrap_title .content{color:#999;line-height:30px;font-size:16px;padding-top:15px;text-align:center}
.main-footer .row{justify-content:space-between}
.main-footer .logo-footer{margin-bottom:20px}
.footer-iteam .email{margin:0}
.footer-iteam .email a{font-weight:500;font-size:14px;line-height:20px;text-transform:capitalize}
.footer-iteam .social-footer{padding-top:20px;gap:20px}
.footer-iteam .social-footer li a{font-weight:700;font-size:14px;line-height:20px;position:relative}
.footer-iteam .social-footer li:not(:first-child) a:before{content:"/";position:absolute;top:50%;left:-15px;transform:translateY(-50%)}
.main-footer .logo-footer a{display:block;line-height:1}
.main-footer .menu_footer .menu{list-style:none;padding:0}
.main-footer .menu_footer .menu a{position:relative;line-height:24px;font-size:16px}
.main-footer .menu_footer .menu a:hover{text-decoration:underline}
.main-footer .menu_footer .menu a .n_products{display:none}
.main-footer .menu_footer .menu li.menu-item{line-height:1}
.main-footer .widget-title{color:var(--color-main)}
.main-footer .widget-title.small{font-size:18px; font-family: 'Museo 500';}
.main-footer .widget-title.medium{font-size:20px}
.main-footer .widget-title.large{font-size:32px}
.main-footer .widget-title .icon_mobile{display:none}
.widget_footer .contentHtml p{font-weight:400;font-size:16px;line-height:25px;margin-bottom:0}
.main-footer .labernewsletter.center_align{margin:0 auto;text-align:center}
.main-footer .labernewsletter .sub-email,.main-footer .labernewsletter .sub-email2{font-weight:500;font-size:14px;line-height:18px}
.main-footer .labernewsletter .sub-email2{padding-top:15px}
.main-footer .labernewsletter .signup-newsletter-form{display:flex;gap:10px;border:2px solid var(--alo-color-border);border-radius:5px;background:#fff}
.main-footer .labernewsletter .signup-newsletter-form .col_email{position:relative;flex-basis:0;flex-grow:1;max-width:100%}
.main-footer .labernewsletter .signup-newsletter-form .col_email .input-text{border:none;height:46px;border-radius:46px;background:none;width:100%;padding:0 20px;transition:all 240ms linear}
.main-footer .labernewsletter .signup-newsletter-form .col_email .input-text:focus{border:none}
.main-footer .labernewsletter .signup-newsletter-form .submit-btn{border:none;height:46px;min-width:50px;cursor:pointer;background:none;color:var(--color-main);font-weight:700;font-size:12px;line-height:15px;text-transform:uppercase}
.main-footer .labernewsletter .signup-newsletter-form .submit-btn path,
.main-footer .labernewsletter .signup-newsletter-form .submit-btn svg{fill:var(--color-secondary)}
.main-footer .labernewsletter .signup-newsletter-form .submit-btn span{display:none}
.footer .widget_mail .list-socials{padding-top:20px;overflow:hidden}
.footer .widget_mail .list-socials li{float:left;display:inline;font-style:normal}
.footer .widget_mail .list-socials li a{color:#777;width:45px;height:45px;line-height:45px;display:block;font-size:20px;text-align:center}
.footer .widget_mail .list-socials li a:hover{color:#1a73e8}
.footer .main-footer .footer-iteam{display:flex;flex-direction:column}
.footer .main-footer .content_html{margin:0;padding:0;font-size:14px;position:relative;color:#999;display:flex;flex-direction:column}
.footer .main-footer .content_html p{line-height:1;margin-bottom:15px;padding:0;font-size:14px;position:relative;color:#999}
.main-footer .socials{margin:0;padding-top:30px}
.back-to-top{bottom:145px;font-weight:700;font-size:18px;position:fixed;right:30px;color:var(--color-btn-text);width:50px;height:50px;z-index:99;overflow:hidden;padding:0;border-radius:100%;background-color:var(--color-btn);align-items:center;display:flex;justify-content:center;opacity:0}
.back-to-top:focus,.back-to-top:hover{color:var(--color-btn-text_hover);background-color:var(--color-btn-hover)}
.back-to-top.show{opacity:1}
@media(max-width:1024px){
.footer{padding-bottom:100px}
.footer .top-footer .footer-logo-wrap{display:flex;margin-bottom:40px}
.footer .top-footer .footer-logo-wrap div{margin:0 auto}
.footer .top-footer .newsletter-footer-wrap{display:block!important;text-align:center;margin-bottom:40px}
.footer .top-footer .social-footer-wrap{display:flex}
.footer .top-footer .social-footer-wrap ul{margin:0 auto}
.footer .main-footer{padding:40px 0 20px}
.main-footer .widget{margin-bottom:30px}
}
@media(max-width:991px){
.back-to-top{bottom:135px}
}
.apus-footer-mobile{position:fixed;z-index:99;background:#fff;padding:20px 0;bottom:0;left:0;right:0;box-shadow:0 0 25px rgb(72 123 183 / 25%);border-radius:10px 10px 0 0;display:none}
@media(max-width:1024px){
.apus-footer-mobile{display:block}
}
.apus-footer-mobile .footer-search-mobile{position:absolute;z-index:999;left:0;top:-60px;width:100%;opacity:0;filter:alpha(opacity=0);visibility:hidden;transition:all .2s ease-in-out}
.apus-footer-mobile .apus-search-form{min-width:300px;padding:10px 30px;background:rgba(255,255,255,.9)}
.apus-footer-mobile>ul{padding:0;margin:0;list-style:none;text-align:center;display:flex}
.apus-footer-mobile>ul>li{text-transform:uppercase;display:inline-flex;text-align:center;position:relative;flex:1 0 20%;align-items:center;justify-content:center}
.apus-footer-mobile>ul>li a{font-size:22px;font-weight:500;line-height:1}
.apus-footer-mobile>ul>li span{display:none;font-size:12px;line-height:1;color:#343e45;text-transform:none;font-weight:500}
.apus-footer-mobile>ul>li>a:hover span:last-child,.apus-footer-mobile .text-theme{color:#1a73e8!important}
.wishlist-icon .count,.mini-cart .cart-count{position:absolute;top:12px;right:10px;display:inline-flex;color:#fff;line-height:18px;min-width:18px;padding:0;justify-content:center;align-items:center;font-weight:600;font-size:10px;background:var(--color-secondary);border-radius:50%}
.wishlist-icon .count{top:0;right:-10px}
.apus-footer-mobile>ul>li .wishlist-icon,.apus-footer-mobile>ul>li .mini-cart{line-height:1;position:relative}
.apus-footer-mobile>ul>li.cart_mobile{display:inline-flex}
.apus-footer-mobile>ul>li .mini-cart{position:absolute;width:70px;height:70px;box-shadow:0 0 25px #487bb740;border-radius:100%;border:5px solid #fff;display:flex;justify-content:center;align-items:center;top:-50px;background:var(--color-main)}
.apus-footer-mobile>ul>li svg{position:relative;width:26px;line-height:1}
.contact_information{}
.contact_information .sub_title{font-weight:400;font-size:16px;line-height:23px;color:var(--color-text1-footer);margin:0}
.contact_information .information{}
.contact_information .information .text{font-size:16px;line-height:18px;margin-bottom:7px;color:var(--color-text-footer)}
.contact_information .information .Address,.contact_information .information a{font-size:16px;line-height:25px;color:var(--color-text-footer)}
.contact_information .information a.phone{font-weight:500;font-size:20px;line-height:38px;margin-bottom:5px;display:block}
.footer-bottom{position:relative;z-index:20;overflow:hidden}
.footer-bottom section{border-top:1px solid var(--color-border)}
.footer-bottom .row{align-items:center}
.footer-bottom .copyright{font-weight:400;font-size:16px;line-height:18px;display:flex;justify-content:var(--alo-position)}
.footer-bottom .copyright a{color:var(--color-link-footer)}
.footer-bottom .copyright p{margin:0;color:var(--alo-color)}
.footer-bottom .payment{display:flex;flex-wrap:wrap;align-items:center;justify-content:var(--alo-position);gap:20px}
.footer-bottom .payment span{font-weight:500;font-size:14px;line-height:18px}
.footer-bottom .payment .alo-image{min-width:var(--alo-width)}
.footer-bottom .policies,.footer-bottom .menu_footer{display:flex;justify-content:var(--alo-position)}
.footer-bottom .policies .list-unstyled,.footer-bottom .menu_footer .menu{display:flex;flex-wrap:wrap;gap:30px}
.footer-bottom .policies .list-unstyled li,.footer-bottom .menu_footer .menu li{position:relative}
.footer-bottom .policies .list-unstyled li:not(:first-child):before,.footer-bottom .menu_footer .menu li:not(:first-child):before{content:"";height:10px;display:block;width:1px;background-color:var(--color-border);position:absolute;left:-15px;top:50%;transform:translateY(-50%)}
.footer-bottom .policies .list-unstyled li a,.footer-bottom .menu_footer .menu li a{font-size:12px;text-transform:uppercase}
.footer-bottom .laber-social-link{display:flex;justify-content:var(--alo-position)}
@media only screen and (min-width:1024px) and (max-width:1300px){
  .footer-top .labernewsletter .text-email2{display:none}
  .footer-top .labernewsletter{top:15px;left:15px;right:15px;bottom:15px}
}
@media only screen and (min-width:768px) and (max-width:991px){
  .footer .widget_mail .social-footer-wrap{display:flex;justify-content:center;align-items:center}
}
@media (max-width:1024px){
  .menu-style2{margin-bottom:50px}
  .laber-html{justify-content:flex-start!important}
  .footer-bottom .copyright{text-align:center}
  .footer-bottom .payment{padding-top:15px;justify-content:center}
}
@media only screen and (min-width:992px) and (max-width:1199px),
only screen and (min-width:768px) and (max-width:991px){
  .back-to-top{bottom:100px}
}
@media (min-width:768px){}
@media (max-width:767px){
  .footer{padding-bottom:90px}
  .main-footer .widget-title{display:flex;align-items:center;margin:0;padding:0}
  .main-footer .labernewsletter.widget-title{margin-bottom:0}
  .main-footer .widget{margin-bottom:5px;padding:8px 15px; border-radius:var(--alo-border-radius)}
  .main-footer .widget-title .txt_title{flex-basis:0;flex-grow:1;max-width:100%}
  .main-footer .widget-title .icon_mobile{font-size:18px;text-align:center;border-radius:2px;align-items:center;display:flex;justify-content:center}
  .main-footer .widget.active .widget-title .icon_mobile .laber-icon-down,
  .main-footer .widget-title .icon_mobile .laber-icon-up,
  .main-footer .widget .widget_footer{display:none}
  .main-footer .widget.active .widget-title .icon_mobile .laber-icon-up{display:block}
  .main-footer .widget .widget_footer{padding-top:5px}
  .widget_mail .social-footer-wrap{display:flex;justify-content:center;align-items:center}
  .back-to-top{bottom:135px;width:35px;height:35px;font-size:14px}
  .widget_mail .widget_footer .signup-newsletter-form{min-width:inherit;width:100%}
  .widget_mail .widget_footer .signup-newsletter-form .submit-btn{width:100%;border-radius:0 3px 3px 0}
  .banner-footer .content-banner h2{font-size:40px;margin-bottom:30px}
  .banner-footer .content-banner h3{font-size:16px;margin-bottom:15px}
  .footer-top .labernewsletter{left:15px;right:15px}
  .footer-top .labernewsletter .text-email2{display:none}
  .laber-html{justify-content:normal!important;display:block!important}
  .main-footer .newsletter-content{padding-left:0;border-left:none}
  .footer-iteam .social-footer{gap:10px}
  .footer-iteam .social-footer li:not(:first-child) a:before{left:-10px}
  .footer-bottom .policies .list-unstyled,.footer-bottom .menu_footer .menu{justify-content:center;gap:10px}
  .footer-bottom .policies .list-unstyled li:not(:first-child):before,
  .footer-bottom .menu_footer .menu li:not(:first-child):before{display:none}
  .payment_type_svg{justify-content:center}
}
@media (max-width:450px){
  .main-footer .labernewsletter .signup-newsletter-form .col_email .input-text{padding:0 10px}
  .main-footer .labernewsletter .signup-newsletter-form .submit-btn{min-width:100px}
  .footer-bottom .payment .alo-image{height:25px;min-width:345px}
}
.switch-rtl-ltr span{top:50%;font-weight:500;font-size:14px;position:fixed;right:30px;width:50px;height:50px;z-index:99999;overflow:hidden;padding:0;border-radius:100%;background-color:var(--color-btn);border-color:var(--color-btn);color:var(--color-btn-text);align-items:center;line-height:50px;text-align:center;justify-content:center;box-shadow:1px 2px 7px #00000014;transform:translate(0,-50%)}
.switch-rtl-ltr span:hover{background:var(--color-btn-hover);border-color:var(--color-btn-hover);color:var(--color-btn-text_hover)}
.ltr-text{display:none}
.rtl .rtl-text{display:none}
.rtl .switch-rtl-ltr span{left:30px;right:auto}
.rtl .ltr-text{display:block}


span.footer_head_text {
    color: #F3F9F7;
}
.email-wrapper {
  display: flex;
  align-items: center;
  background-color: #167a62; /* Match your background */
  padding: 8px 12px;
  border-radius: 4px;
  width: 250px;
}

.email-wrapper input {
  flex: 1;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff80; /* Semi-transparent white line */
  color: white;
  font-size: 16px;
  padding: 8px 4px;
  outline: none;
}

.email-wrapper input::placeholder {
  color: #ffffff80; /* Semi-transparent white placeholder */
}

.email-wrapper button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 8px;
}
.footer_brand_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:780px){

.main_footer_contianer {
    display: flex;
    width: 100%;
}
.footer_brand_container {
    width: 70%;
  }
  

  .brand_logo_footer {
    padding: 0 20px;
}
  .footer_main_text {
    padding: 0px 72px;
}
  span.footer_head_text {
    color: #f3f9f7;
    font-family: "Museo 700";
    font-size: 23px;
    line-height: 1.4;
}

.main_footer_contianer {
    display: flex;
    width: 100%;
    padding: 10px 35px;
}
/* hr.footer_line {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px 0;
}  */
  .shopify-message {
    position: absolute;
    right: 20%;
}
}
@media (max-width:780px){
  .signup-newsletter-form .col.pd-0 {
    width: 90%;
}
  .email-wrapper{
    width: 100%;
  }
  .footer_brand_container{
    column-gap: 20px;
  }
  .main-footer .menu_footer .menu a{
    font-size: 20px;
    line-height: 36px;
  }
  span.footer_main_contant {
    font-size: 20px !important;
    line-height: 36px !important;
}
  .contact_information .information .Address,.contact_information .information a{
    font-size: 20px;
  }
  .contact_information .information .text {
    font-size: 20px;
  }
}
.shopify-message {
    color: #Fff;
}

.mail_main {
    width: 100%;
    word-wrap: break-word;
}